<h2><%= @pet.name %> - <%= @pet.species %></h2>
<p><%= @pet.address %></p>
<p>Found <%= time_ago_in_words(@pet.found_on) %> ago</p>

<%= link_to 'back', pets_path %>
<%= link_to 'edit', edit_pet_path(@pet) %>
<%= link_to 'delete', pet_path(@pet), method: :delete %>
